[submodule "Assets/Sonat/sonat-game-framework"]
	path = Assets/Sonat/sonat-game-framework
	url = https://github.com/SonatGame/sonat-game-framework
[submodule "Assets/Sonat/sonat_sdk_v2"]
	path = Assets/Sonat/sonat_sdk_v2
	url = https://github.com/SonatGameProduct/sonat_sdk_v2
